h1{
    text-align: center;
    margin-right: 20px;
    text-size-adjust: 30%;
}
body{
    background-color: rgb(26, 38, 174);
    
}
.carousel-inner img {
    height: 500px;      
    object-fit: cover; }
